# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.backup
crash.log

# Datos persistentes (no subir a git)
ejercicio-2/data/

# Kind
*-config
kubeconfig

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temp files
*.tmp
*.bak
